<template>
  <div>
    <v-card class="mx-auto addobject-card" max-width="500" outlined>
      <h1 class="add-title">Dodaj obiekt</h1>
      <v-bottom-navigation :value="placeAdding.place" color="blue accent-4">
        <v-btn @click="placeAdding.place = 0">
          <span>Atrakcja</span>
          <v-icon>mdi-fireplace-off</v-icon>
        </v-btn>

        <v-btn @click="placeAdding.place = 1">
          <span>Hotel</span>
          <v-icon>mdi-home-city</v-icon>
        </v-btn>

        <v-btn @click="placeAdding.place = 2">
          <span>Restauracja</span>
          <v-icon>mdi-silverware-fork-knife</v-icon>
        </v-btn>
      </v-bottom-navigation>
      <div class="fields">
        <div class="titler">Nazwa</div>
        <v-text-field
          class="place-input"
          label="Nazwa"
          background-color="white"
          outlined
          v-model="placeAdding.name"
        ></v-text-field>
        <div class="titler">Rodzaj</div>
        <v-select
          label="Rodzaj"
          outlined
          class="place-input"
          v-model="placeAdding.type"
          :items="types"
        ></v-select>
        <div class="titler">Miasto</div>
        <v-select
          placeholder="Miasto"
          outlined
          class="place-input"
          :items="citiesSelect"
          v-model="placeAdding.city"
        ></v-select>
        <div class="titler">Adres</div>
        <v-text-field
          class="place-input"
          label="Adres"
          background-color="white"
          outlined
          v-model="placeAdding.address"
        ></v-text-field>
        <div class="titler">Opis</div>
        <v-text-field
          class="place-input"
          label="Opis"
          background-color="white"
          outlined
          v-model="placeAdding.description"
        ></v-text-field>
      </div>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="card-button" color="success" @click="addPlace">Dodaj</v-btn>
        <v-btn class="card-button" color="error" @click="clearSubmit">Wyczyść</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters([
      "cities",
      "attractionTypes",
      "hotelTypes",
      "restaurantTypes"
    ]),
    types() {
      var attractionArray = [];
      if (this.placeAdding.place === 0) {
        for (var attr of this.attractionTypes) {
          attractionArray.push(attr.name);
        }
      } else if (this.placeAdding.place === 1) {
        for (var attr1 of this.hotelTypes) {
          attractionArray.push(attr1.name);
        }
      } else {
        for (var attr2 of this.restaurantTypes) {
          attractionArray.push(attr2.name);
        }
      }
      return attractionArray;
    }
  },
  data() {
    return {
      activeBtnAdd: 0,
      placeAdding: {
        place: 0,
        name: "",
        type: "",
        city: "",
        address: "",
        description: ""
      },
      citiesSelect: ["Olsztyn", "Warszawa", "Kraków"]
    };
  },
  methods: {
    ...mapActions([
      "loadCities",
      "loadAttractionTypes",
      "loadHotelTypes",
      "loadRestaurantTypes",
      "submitEvent"
    ]),
    clearSubmit() {
      this.placeAdding.place = 0;
      this.placeAdding.name = "";
      this.placeAdding.type = "";
      this.placeAdding.city = "";
      this.placeAdding.address = "";
      this.placeAdding.description = "";
    },
    addPlace() {
      this.submitEvent(this.placeAdding);
      this.$router.push("home");
    }
  },
  mounted() {
    this.loadCities();
    this.loadAttractionTypes();
    this.loadHotelTypes();
    this.loadRestaurantTypes();
  }
};
</script>

<style lang="scss">
.add-title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.addobject-card {
  margin-top: 2%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .fields {
    margin-top: 8%;
    margin-left: 16%;
  }

  .titler {
    font-size: 14px;
    font-weight: 500;
  }

  .card-button {
    width: 30%;
  }

  .place-input {
    width: 80%;
  }
}
</style>
