<template>
  <div class="grid">
    <h1 class="title">Atrakcje</h1>
    <div v-if="alertSearch">Nie udało się znaleźć obiektów</div>
    <div class="object-list">
      <ObjectGrid
        v-for="attraction in attractionsChosen"
        :key="attraction.id"
        :item="attraction"
        :cities="cities"
        :attractionTypes="attractionTypes"
        :cityFilter="cityFilter"
        :typeFilter="typeFilter"
        class="object"
      />
    </div>
  </div>
</template>

<script>
import ObjectGrid from "../../Common/ObjectGrid";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ObjectGrid
  },
  data() {
    return {
      alertSearch: false
    };
  },
  props: {
    cities: {
      type: Array,
      default: () => {}
    },
    cityFilter: {
      type: String,
      default: ""
    },
    typeFilter: {
      type: String,
      default: ""
    },
    searchedAttractions: {
      type: Object,
      default: () => {}
    },
    searchItem: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapGetters(["attractions", "attractionTypes"]),
    attractionsChosen() {
      if (this.searchedAttractions.monuments && this.searchItem) {
        if (this.searchedAttractions.monuments.length > 0) {
          return this.searchedAttractions.monuments;
        } else {
          return 0;
        }
      } else {
        return this.attractions.monuments;
      }
    }
  },
  methods: {
    ...mapActions(["loadLimitedAttractions", "loadAttractionTypes"])
  },
  mounted() {
    this.loadLimitedAttractions();
    this.loadAttractionTypes();
  }
};
</script>

<style lang="scss">
.grid {
  .object-list {
    display: flex;
    flex-wrap: wrap;

    .object {
      flex: 0 0 30%;
      margin-top: 2%;
    }

    .more-button {
      position: absolute;
      right: 0;
      font-size: 0.8rem;
      padding-right: 5%;
      color: #7b1fa2;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Roboto";
      margin-top: 2%;
    }
  }
}
</style>
