<template>
  <div class="grid">
    <h1 class="title">Restauracje</h1>
    <div class="object-list">
      <ObjectGrid
        v-for="restaurant in restaurantsChosen"
        :key="restaurant.id"
        :item="restaurant"
        :cities="cities"
        :attractionTypes="restaurantTypes"
        :cityFilter="cityFilter"
        :typeFilter="typeFilter"
        class="object"
      />
    </div>
  </div>
</template>

<script>
import ObjectGrid from "../../Common/ObjectGrid";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ObjectGrid
  },
  props: {
    cities: {
      type: Array,
      default: () => {}
    },
    cityFilter: {
      type: String,
      default: () => {}
    },
    typeFilter: {
      type: String,
      default: () => {}
    },
    searchedRestaurants: {
      type: Object,
      default: () => {}
    },
    searchItem: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapGetters(["restaurants", "restaurantTypes"]),
    restaurantsChosen() {
      if (this.searchedRestaurants.restaurants && this.searchItem) {
        if (this.searchedRestaurants.restaurants.length > 0) {
          return this.searchedRestaurants.restaurants;
        } else {
          return 0;
        }
      } else {
        return this.restaurants.restaurants;
      }
    }
  },
  methods: {
    ...mapActions(["loadLimitedRestaurants", "loadRestaurantTypes"])
  },
  mounted() {
    this.loadLimitedRestaurants();
    this.loadRestaurantTypes();
  }
};
</script>

<style lang="scss">
.grid {
  .object-list {
    display: flex;
    flex-wrap: wrap;

    .object {
      flex: 0 0 30%;
      margin-top: 2%;
    }

    .more-button {
      position: absolute;
      right: 0;
      font-size: 0.8rem;
      padding-right: 5%;
      color: #7b1fa2;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Roboto";
      margin-top: 2%;
    }
  }
}
</style>
