<template>
  <div>
    <v-card class="mx-auto login-card" max-width="500" outlined>
      <v-tabs v-model="chosenOption" centered slider-color="blue" background-color="transparent">
        <v-tab v-for="option in options" :key="option">{{ option }}</v-tab>
      </v-tabs>
      <div v-if="chosenOption === 0" class="form">
        <v-card-title class="mx-auto card-title">Logowanie</v-card-title>
        <v-card-actions class="form-actions">
          <v-text-field
            class="place-input"
            label="Login"
            background-color="white"
            outlined
            v-model="userLogin.username"
          ></v-text-field>
          <v-text-field
            class="place-input"
            label="Hasło"
            background-color="white"
            outlined
            type="password"
            v-model="userLogin.password"
          ></v-text-field>
          <v-btn color="primary" class="card-btn" @click="login">Zaloguj</v-btn>
        </v-card-actions>
      </div>
      <div v-if="chosenOption === 1" class="form">
        <v-card-title class="card-title">Rejestracja</v-card-title>
        <v-card-actions class="form-actions">
          <v-text-field
            class="place-input"
            label="Login"
            background-color="white"
            outlined
            v-model="userRegister.username"
          ></v-text-field>
          <v-text-field
            class="place-input"
            label="Email"
            type="email"
            background-color="white"
            outlined
            v-model="userRegister.email"
          ></v-text-field>
          <v-text-field
            class="place-input"
            label="Hasło"
            background-color="white"
            outlined
            type="password"
            v-model="userRegister.password"
          ></v-text-field>
          <v-text-field
            class="place-input"
            label="Powtórz hasło"
            background-color="white"
            outlined
            type="password"
            v-model="userRegister.confirmPassword"
          ></v-text-field>
          <v-btn color="primary" class="card-btn" @click="register">Rejestracja</v-btn>
        </v-card-actions>
      </div>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      options: ["Logowanie", "Rejestracja"],
      chosenOption: 0,
      userLogin: {
        username: "",
        password: ""
      },
      userRegister: {
        username: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    ...mapActions(["setNavbarId"]),
    login() {
      axios
        .post(`${process.env.VUE_APP_URL}/api/Account/login`, this.userLogin)
        .then(response => {
          console.log(response.data);
          localStorage.setItem("token", response.data.token);
          this.$router.push("/");
          this.setNavbarId();
          window.setTimeout(function() {
            window.location.reload();
          }, 200);
        })
        .catch(error => {
          console.log(error);
        });
    },
    register() {
      axios
        .post(
          `${process.env.VUE_APP_URL}/api/Account/register`,
          this.userRegister
        )
        .then(response => {
          console.log(response.data);
          localStorage.setItem("token", response.data.token);
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss">
.login-card {
  margin-top: 3rem;
}
.form {
  text-align: center;
}
.form-actions {
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
}
.card-title {
  padding-left: 3rem;
}
.card-btn {
  color: white;
}
</style>