<template>
  <div class="justify-center">
    <div class="header-attr">
      <v-parallax src="../../../../public/holiday2.png" height="300">
        <div class="place-field">
          <v-text-field
            class="place-input"
            label="Wyszukaj miejsce"
            background-color="white"
            outlined
            v-model="searchItem"
          ></v-text-field>
          <v-btn class="place-button" @click="searchHotels()">
            <v-icon color="blue">mdi-magnify</v-icon>
          </v-btn>
        </div>
        <div class="city-selects">
          <v-select
            class="select"
            :items="citiesSelect"
            v-model="cityFilter"
            label="Miasto"
            outlined
            background-color="white"
          ></v-select>
          <v-select
            class="select"
            :items="hotelTypos"
            v-model="typeFilter"
            label="Rodzaj"
            outlined
            background-color="white"
          ></v-select>
        </div>
        <div class="reset-btn">
          <v-btn @click="resetFilter()">
            <v-icon>
              mdi-restore
            </v-icon>
          </v-btn>
        </div>
      </v-parallax>
    </div>
    <div class="main-container">
      <Hotels
        :cities="cities"
        :cityFilter="cityFilter"
        :typeFilter="typeFilter"
        :searchedHotels="searchedHotels"
        :searchItem="searchItem"
      />
    </div>
  </div>
</template>

<script>
import Hotels from "./Hotels";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Hotels
  },
  computed: {
    ...mapGetters(["cities", "hotelTypes", "searchedHotels"]),
    hotelTypos() {
      var hotelArray = [];
      hotelArray.push("Wszystkie");
      for (var attr of this.hotelTypes) {
        hotelArray.push(attr.name);
      }
      return hotelArray;
    }
  },
  data() {
    return {
      citiesSelect: ["Wszystkie", "Olsztyn", "Warszawa", "Kraków"],
      cityFilter: "",
      typeFilter: "",
      searchItem: ""
    };
  },
  methods: {
    ...mapActions(["loadCities", "loadHotelTypes", "loadSearchedHotels"]),
    searchHotels() {
      this.loadSearchedHotels(this.searchItem);
    },
    resetFilter() {
      this.searchItem = "";
      this.cityFilter = "Wszystkie";
      this.typeFilter = "Wszystkie";
    }
  },
  mounted() {
    this.loadCities();
    this.loadHotelTypes();
  }
};
</script>

<style lang="scss" scoped>
.header-attr {
  .city-selects {
    display: flex;
    text-align: center;
    width: 74%;

    .select {
      margin-left: 30%;
      width: 200px;
    }
  }
}
.place-field {
  margin-left: 22%;
  margin-right: 26%;
  display: flex;
  justify-content: space-around;

  .place-input {
    width: 66.5%;
  }
  .place-button {
    margin-top: 0.1%;
    height: 64%;
  }
}
.main-container {
  position: relative;
  padding: 0 10% 0 18%;
  margin-top: 1%;

  .list {
    margin-top: 5%;
  }
}
.reset-btn {
  text-align: center;
  margin-right: 5%;
}
</style>
