<template>
  <div class="grid">
    <h1 class="title">Hotele</h1>
    <div class="object-list">
      <ObjectGrid
        v-for="hotel in hotelsChosen"
        :key="hotel.id"
        :item="hotel"
        :cities="cities"
        :attractionTypes="hotelTypes"
        :cityFilter="cityFilter"
        :typeFilter="typeFilter"
        class="object"
      />
    </div>
  </div>
</template>

<script>
import ObjectGrid from "../../Common/ObjectGrid";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ObjectGrid
  },
  props: {
    cities: {
      type: Array,
      default: () => {}
    },
    cityFilter: {
      type: String,
      default: () => {}
    },
    typeFilter: {
      type: String,
      default: () => {}
    },
    searchedHotels: {
      type: Object,
      default: () => {}
    },
    searchItem: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapGetters(["hotels", "hotelTypes"]),
    hotelsChosen() {
      if (this.searchedHotels.hotels && this.searchItem) {
        if (this.searchedHotels.hotels.length > 0) {
          return this.searchedHotels.hotels;
        } else {
          return 0;
        }
      } else {
        return this.hotels.hotels;
      }
    }
  },
  methods: {
    ...mapActions(["loadLimitedHotels", "loadHotelTypes"])
  },
  mounted() {
    this.loadLimitedHotels();
    this.loadHotelTypes();
  }
};
</script>

<style lang="scss">
.grid {
  .object-list {
    display: flex;
    flex-wrap: wrap;

    .object {
      flex: 0 0 30%;
      margin-top: 2%;
    }

    .more-button {
      position: absolute;
      right: 0;
      font-size: 0.8rem;
      padding-right: 5%;
      color: #7b1fa2;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Roboto";
      margin-top: 2%;
    }
  }
}
</style>
