<template>
  <div class="justify-center">
    <div class="header">
      <v-parallax src="../../../public/holiday2.png" height="300">
        <div class="city-select"></div>
      </v-parallax>
    </div>
    <div class="main-container">
      <AttractionList :cities="cities" :cityFilter="cityFilter" />
      <HotelList :cities="cities" class="list" />
      <RestaurantList :cities="cities" class="list" />
    </div>
  </div>
</template>

<script>
import AttractionList from "./AttractionList";
import HotelList from "./HotelList";
import RestaurantList from "./RestaurantList";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    AttractionList,
    HotelList,
    RestaurantList
  },
  computed: {
    ...mapGetters(["cities"])
  },
  data() {
    return {
      citiesSelect: ["Wszystkie", "Olsztyn", "Warszawa", "Kraków"],
      cityFilter: ""
    };
  },
  methods: {
    ...mapActions(["loadCities"])
  },
  mounted() {
    this.loadCities();
  }
};
</script>

<style lang="scss">
.header {
  .city-select {
    width: 16%;
    text-align: center;
    margin-left: 40%;
  }
}
.main-container {
  position: relative;
  padding: 0 10% 0 16%;
  margin-top: 1%;

  .list {
    margin-top: 5%;
  }
}
</style>
