<template>
  <div class="grid">
    <h1 class="title">Atrakcje</h1>
    <div class="object-list">
      <ObjectGrid
        v-for="attraction in attractionsLimited"
        :key="attraction.id"
        :item="attraction"
        :cities="cities"
        :attractionTypes="attractionTypes"
        :cityFilter="cityFilter"
        class="object"
      />
      <div class="more-button">
        <router-link to="/attractions" class="attraction-link">
          Pokaż więcej
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import ObjectGrid from "../Common/ObjectGrid";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ObjectGrid
  },
  props: {
    cities: {
      type: Array,
      default: () => {}
    },
    cityFilter: {
      type: String,
      default: () => {}
    }
  },
  computed: {
    ...mapGetters([
      "attractionsLimited",
      "attractions",
      "attractionTypes",
      "hotelTypes",
      "restaurantTypes"
    ])
  },
  methods: {
    ...mapActions([
      "loadLimitedAttractions",
      "loadAttractionTypes",
      "loadHotelTypes",
      "loadRestaurantTypes"
    ])
  },
  mounted() {
    this.loadLimitedAttractions();
    this.loadAttractionTypes();
  }
};
</script>

<style lang="scss">
.grid {
  .object-list {
    display: flex;
    flex-wrap: wrap;

    .object {
      flex: 0 0 30%;
      margin-top: 2%;
    }

    .more-button {
      position: absolute;
      right: 0;
      font-size: 0.8rem;
      padding-right: 5%;
      color: #7b1fa2;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Roboto";
      margin-top: 2%;
    }
  }
}
.attraction-link {
  text-decoration: none;
  color: #7b1fa2;
}
</style>
