<template>
  <div>
    <h1 class="title">Hotele</h1>
    <div class="object-list">
      <ObjectGrid
        v-for="hotel in hotelsLimited"
        :key="hotel.id"
        :item="hotel"
        :cities="cities"
        :attractionTypes="hotelTypes"
        class="object"
      />
      <div class="more-button">
        <router-link to="/hotels" class="hotels-link">
          Pokaż więcej
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import ObjectGrid from "../Common/ObjectGrid";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ObjectGrid
  },
  props: {
    cities: {
      type: Array,
      default: () => {}
    }
  },
  computed: {
    ...mapGetters(["hotelsLimited", "hotelTypes"])
  },
  methods: {
    ...mapActions(["loadLimitedHotels", "loadHotelTypes"])
  },
  mounted() {
    this.loadLimitedHotels();
    this.loadHotelTypes();
  }
};
</script>

<style lang="scss">
.title {
  margin-bottom: 2%;
}
.object-list {
  display: flex;
  flex-wrap: wrap;

  .object {
    flex: 0 0 30%;
  }

  .more-button {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    padding-right: 5%;
    color: #7b1fa2;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto";
  }
}
.hotels-link {
  text-decoration: none;
}
</style>
