<template>
  <div>
    <h1 class="title">Restauracje</h1>
    <div class="object-list">
      <ObjectGrid
        v-for="restaurant in restaurantsLimited"
        :key="restaurant.id"
        :item="restaurant"
        :cities="cities"
        :attractionTypes="restaurantTypes"
        class="object"
      />
      <div class="more-button">
        <router-link to="/restaurants" class="res-link">
          Pokaż więcej
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import ObjectGrid from "../Common/ObjectGrid";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    ObjectGrid
  },
  props: {
    cities: {
      type: Array,
      default: () => {}
    }
  },
  computed: {
    ...mapGetters(["restaurantsLimited", "restaurantTypes"])
  },
  methods: {
    ...mapActions(["loadLimitedRestaurants", "loadRestaurantTypes"])
  },
  mounted() {
    this.loadLimitedRestaurants();
    this.loadRestaurantTypes();
  }
};
</script>

<style lang="scss">
.title {
  margin-bottom: 2%;
}
.object-list {
  display: flex;
  flex-wrap: wrap;

  .object {
    flex: 0 0 30%;
  }

  .more-button {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    padding-right: 5%;
    color: #7b1fa2;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto";
  }
}
.res-link {
  text-decoration: none;
}
</style>
