<template>
  <div class="justify-center">
    <div class="header-attr">
      <v-parallax src="../../../public/holiday2.png" height="300">
        <div class="city-selects">
          <v-select
            class="select"
            :items="citiesSelect"
            v-model="cityFilter"
            label="Miasto"
            outlined
            background-color="white"
          ></v-select>
        </div>
        <div class="reset-btn">
          <v-btn @click="resetFilter()">
            <v-icon>mdi-restore</v-icon>
          </v-btn>
        </div>
      </v-parallax>
    </div>
    <div class="main-container">
      <FavouriteAttractionList
        :cities="cities"
        :cityFilter="cityFilter"
        :searchItem="searchItem"
        :searchedAttractions="searchedAttractions"
        :favouriteObjects="favouriteObjects"
      />
      <FavouriteHotelList
        :cities="cities"
        class="list"
        :cityFilter="cityFilter"
        :searchItem="searchItem"
        :searchedHotels="searchedHotels"
        :favouriteObjects="favouriteObjects"
      />
      <FavouriteRestaurantList
        :cities="cities"
        class="list"
        :cityFilter="cityFilter"
        :searchItem="searchItem"
        :searchedRestaurants="searchedRestaurants"
        :favouriteObjects="favouriteObjects"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import FavouriteAttractionList from "./FavouriteAttractionList";
import FavouriteHotelList from "./FavouriteHotelList";
import FavouriteRestaurantList from "./FavouriteRestaurantList";

export default {
  components: {
    FavouriteAttractionList,
    FavouriteHotelList,
    FavouriteRestaurantList
  },
  computed: {
    ...mapGetters([
      "cities",
      "attractionTypes",
      "attractions",
      "searchedAttractions",
      "searchedHotels",
      "searchedRestaurants",
      "favouriteObjects"
    ]),
    attractionTypos() {
      var attractionArray = [];
      attractionArray.push("Wszystkie");
      for (var attr of this.attractionTypes) {
        attractionArray.push(attr.name);
      }
      return attractionArray;
    }
  },
  data() {
    return {
      citiesSelect: ["Wszystkie", "Olsztyn", "Warszawa", "Kraków"],
      cityFilter: "",
      typeFilter: "",
      searchItem: ""
    };
  },
  methods: {
    ...mapActions([
      "loadCities",
      "loadAttractionTypes",
      "loadSearchedAttractions",
      "loadSearchedHotels",
      "loadSearchedRestaurants",
      "loadFavouriteObjects"
    ]),
    searchAttractions() {
      this.loadSearchedAttractions(this.searchItem);
      this.loadSearchedHotels(this.searchItem);
      this.loadSearchedRestaurants(this.searchItem);
    },
    resetFilter() {
      this.searchItem = "";
      this.cityFilter = "Wszystkie";
      this.typeFilter = "Wszystkie";
    }
  },
  mounted() {
    this.loadFavouriteObjects();
    this.loadCities();
    this.loadAttractionTypes();
  }
};
</script>

<style lang="scss" scoped>
.header-attr {
  text-align: center;

  .city-selects {
    display: flex;
    text-align: center;
    width: 74%;

    .select {
      margin-left: 30%;
      width: 200px;
    }
  }
}
.place-field {
  margin-left: 22%;
  margin-right: 26%;
  display: flex;
  justify-content: space-around;

  .place-input {
    width: 66.5%;
  }
  .place-button {
    margin-top: 0.1%;
    height: 64%;
  }
}
.main-container {
  position: relative;
  padding: 0 10% 0 18%;
  margin-top: 1%;

  .list {
    margin-top: 5%;
  }
}
.reset-btn {
  margin-right: 5%;
}
</style>
