<template>
  <div v-if="userLogged">
    <v-parallax src="../../public/holiday.jpg" height="1000" class="paralax">
      <AddPlace class="place" />
    </v-parallax>
  </div>
</template>

<script>
import AddPlace from "../components/AddPlace/AddPlace";

export default {
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    }
  },
  components: {
    AddPlace
  }
};
</script>

<style lang="scss">
.paralax {
  position: relative;
  margin-bottom: 0;
}
.place {
  width: 100%;
  position: absolute;
  height: 100%;
}
</style>
