<template>
  <div v-if="userLogged">
    <AllAttractions />
  </div>
</template>

<script>
import AllAttractions from "../components/Lists/AllAttractions/AllAttractions";

export default {
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    }
  },
  components: {
    AllAttractions
  }
};
</script>

<style lang="scss"></style>
