<template>
  <div v-if="userLogged">
    <FavouritesList />
  </div>
</template>

<script>
import FavouritesList from "../components/Favourites/FavouritesList";

export default {
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    }
  },
  components: {
    FavouritesList
  }
};
</script>

<style lang="scss"></style>
