<template>
  <div v-if="userLogged">
    <Attractions />
  </div>
</template>

<script>
import Attractions from "../components/Attraction/Attractions";

export default {
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    }
  },
  components: {
    Attractions
  }
};
</script>

<style lang="scss">
</style>