<template>
  <div v-if="userLogged">
    <AllHotels />
  </div>
</template>

<script>
import AllHotels from "../components/Lists/AllHotels/AllHotels";

export default {
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    }
  },
  components: {
    AllHotels
  }
};
</script>

<style lang="scss"></style>
