<template>
  <div v-if="userLogged">
    <AllRestaurants />
  </div>
</template>

<script>
import AllRestaurants from "../components/Lists/AllRestaurants/AllRestaurants";

export default {
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    }
  },
  components: {
    AllRestaurants
  }
};
</script>

<style lang="scss"></style>
