<template>
  <div :class="objectFiltered" v-if="item !== null">
    <v-card class="object-card" :key="cardId">
      <v-card-text>
        <div>{{ city }}</div>
        <p class="card-name text--primary">{{ item.name }}</p>
        <p>{{ type }}</p>
        <div class="text--primary">{{ item.address }}</div>
      </v-card-text>
      <v-card-actions>
        <v-dialog v-model="dialog" width="500">
          <template v-slot:activator="{ on }">
            <v-btn class="detail-button" text color="deep-purple accent-4" v-on="on">Szczegóły</v-btn>
          </template>

          <v-card class="detail-card">
            <v-card-title class="headline grey lighten-2 card-title" primary-title>
              <div>{{ item.name }}</div>
              <div @click="addToFavourites()">
                <v-icon :color="ifObjectFavourite" size="x-large">mdi-heart</v-icon>
              </div>
            </v-card-title>
            <div class="dialog-card">
              <div class="infot">Lokalizacja</div>
              <div class="dialog-header">
                <div>{{ city }}</div>
                <div>{{ item.address }}</div>
              </div>
              <div class="infot">Rodzaj</div>
              <div class="dialog-header">{{ type }}</div>
              <div class="infot">Opis</div>
              <div class="dialog-header-description">{{ item.description }}</div>
            </div>
            <div v-if="userInfo">
              <div class="admin-actions" v-if="userInfo.roles === 'admin'">
                <div>
                  <v-btn color="warning" class="admin-button" @click="editObject">Aktualizuj</v-btn>
                </div>
                <div>
                  <v-btn color="error" class="admin-button" @click="deleteObject">Usuń</v-btn>
                </div>
              </div>
            </div>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogEdit" width="500">
          <v-card class="mx-auto addobject-card" max-width="500" outlined>
            <h1 class="add-title">Edytuj obiekt typu {{ type }}</h1>
            <div class="fields">
              <div class="titler">Nazwa</div>
              <v-text-field
                class="place-input"
                background-color="white"
                outlined
                v-model="placeEditing.name"
              ></v-text-field>
              <div class="titler">Miasto</div>
              <v-select
                placeholder="Miasto"
                outlined
                class="place-input"
                :items="citiesSelect"
                v-model="placeEditing.city"
              ></v-select>
              <div class="titler">Adres</div>
              <v-text-field
                class="place-input"
                background-color="white"
                outlined
                v-model="placeEditing.address"
              ></v-text-field>
              <div class="titler">Opis</div>
              <v-text-field
                class="place-input"
                background-color="white"
                outlined
                v-model="placeEditing.description"
              ></v-text-field>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="card-button" color="success" @click="editPlace">Dodaj</v-btn>
              <v-btn class="card-button" color="error" @click="clearSubmit">Wyczyść</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="addedFavouritesPopup" color="success">
      Dodano do ulubionych
      <v-btn color="white" text @click="addedFavouritesPopup = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import axios from "axios";

export default {
  computed: {
    ifObjectFavourite() {
      var isFav = "default";
      if (
        this.favouriteObjects.hotels &&
        this.favouriteObjects.restaurants &&
        this.favouriteObjects.monuments
      ) {
        if (this.item.hotelId) {
          for (var hotel of this.favouriteObjects.hotels) {
            if (this.item.hotelId === hotel.hotelId) {
              isFav = "red";
            }
          }
        } else if (this.item.restaurantId) {
          for (var restaurant of this.favouriteObjects.restaurants) {
            if (this.item.restaurantId === restaurant.restaurantId) {
              isFav = "red";
            }
          }
        } else {
          for (var monument of this.favouriteObjects.monuments) {
            if (monument) {
              if (this.item.monumentId === monument.monumentId) {
                isFav = "red";
              }
            }
          }
        }
      } else {
        isFav = "default";
      }
      if (this.addedFavourites) {
        isFav = "red";
      }
      return isFav;
    },
    ...mapGetters(["favouriteObjects"]),
    objectFiltered() {
      var cardType = "normal";
      var cityReturn = "";
      for (var city of this.cities) {
        if (city.cityId === this.item.cityId || city.name === this.item.city) {
          cityReturn = city.name;
        }
      }
      var typeReturn = "";
      for (var type of this.attractionTypes) {
        if (type.typeId === this.item.typeId || type.name === this.item.type) {
          typeReturn = type.name;
        }
      }
      if (this.cityFilter && this.cityFilter !== "Wszystkie") {
        if (this.cityFilter !== cityReturn) {
          cardType = "hidden-card";
        }
      }
      if (this.typeFilter && this.typeFilter !== "Wszystkie") {
        if (this.typeFilter !== typeReturn) {
          cardType = "hidden-card";
        }
      }
      return cardType;
    },
    city() {
      var cityReturn = "";
      for (var city of this.cities) {
        if (city.cityId === this.item.cityId || city.name === this.item.city) {
          cityReturn = city.name;
        }
      }
      return cityReturn;
    },
    type() {
      var typeReturn = "";
      for (var type of this.attractionTypes) {
        if (type.typeId === this.item.typeId || type.name === this.item.type) {
          typeReturn = type.name;
        }
      }
      return typeReturn;
    }
  },
  data() {
    return {
      dialog: false,
      cardId: 0,
      addedFavouritesPopup: false,
      addedFavourites: false,
      userInfo: {},
      dialogEdit: false,
      placeEditing: {
        name: this.item.name,
        address: this.item.address,
        description: this.item.description
      },
      citiesSelect: ["Olsztyn", "Warszawa", "Kraków"]
    };
  },
  methods: {
    ...mapActions([
      "loadFavouriteObjects",
      "addAttractionToFavourites",
      "addHotelToFavourites",
      "addRestaurantToFavourites",
      "deleteAttraction",
      "deleteHotel",
      "deleteRestaurant",
      "editAttraction",
      "editHotel",
      "editRestaurant"
    ]),
    deleteObject() {
      if (this.item.monumentId) {
        this.deleteAttraction(this.item.monumentId);
      } else if (this.item.restaurantId) {
        this.deleteRestaurant(this.item.restaurantId);
      } else {
        this.deleteHotel(this.item.hotelId);
      }
      this.dialog = false;
    },
    editObject() {
      this.dialog = false;
      this.dialogEdit = true;
    },
    clearSubmit() {
      console.log(this.item);
      this.placeEditing.name = this.item.name;
      this.placeEditing.city = this.citiesSelect[this.item.cityId];
      this.placeEditing.address = this.item.address;
      this.placeEditing.description = this.item.description;
    },
    editPlace() {
      var cityToEdit = null;
      if (this.placeEditing.city === "Olsztyn") {
        cityToEdit = 1;
      } else if (this.placeEditing.city === "Warszawa") {
        cityToEdit = 2;
      } else {
        cityToEdit = 3;
      }

      if (this.item.monumentId) {
        var attrEdit = {
          monumentId: this.item.monumentId,
          name: this.placeEditing.name,
          typeId: this.item.typeId,
          cityId: cityToEdit,
          address: this.placeEditing.address,
          description: this.placeEditing.description
        };
        this.editAttraction(attrEdit);
      } else if (this.item.hotelId) {
        var hotelEdit = {
          hotelId: this.item.hotelId,
          name: this.placeEditing.name,
          typeId: this.item.typeId,
          cityId: cityToEdit,
          address: this.placeEditing.address,
          description: this.placeEditing.description
        };
        this.editHotel(hotelEdit);
      } else {
        var restaurantEdit = {
          restaurantId: this.item.restaurantId,
          name: this.placeEditing.name,
          typeId: this.item.typeId,
          cityId: cityToEdit,
          address: this.placeEditing.address,
          description: this.placeEditing.description
        };
        this.editRestaurant(restaurantEdit);
      }
      this.dialogEdit = false;
    },
    addToFavourites() {
      if (this.item.hotelId) {
        var flag = false;
        for (var hotel of this.favouriteObjects.hotels) {
          if (this.item.hotelId === hotel.hotelId) {
            flag = true;
          }
        }
        if (!flag) {
          this.cardId += 1;
          this.addHotelToFavourites(this.item.hotelId);
          this.addedFavouritesPopup = true;
          this.addedFavourites = true;
        }
      } else if (this.item.restaurantId) {
        var flag1 = false;
        for (var restaurant of this.favouriteObjects.restaurants) {
          if (this.item.restaurantId === restaurant.restaurantId) {
            flag1 = true;
          }
        }
        if (!flag1) {
          this.cardId += 1;
          this.addRestaurantToFavourites(this.item.restaurantId);
          this.addedFavouritesPopup = true;
          this.addedFavourites = true;
        }
      } else {
        var flag2 = false;
        for (var monument of this.favouriteObjects.monuments) {
          if (this.item.monumentId === monument.monumentId) {
            flag2 = true;
          }
        }
        if (!flag2) {
          this.cardId += 1;
          this.addAttractionToFavourites(this.item.monumentId);
          this.addedFavouritesPopup = true;
          this.addedFavourites = true;
        }
      }
      this.loadFavouriteObjects();
    }
  },
  mounted() {
    this.loadFavouriteObjects();
    if (localStorage.token) {
      this.isUserLoggedIn = true;
      axios
        .get(`${process.env.VUE_APP_URL}/api/Account/FindMe`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then(response => {
          this.userInfo = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    cities: {
      type: Array,
      default: () => {}
    },
    attractionTypes: {
      type: Array,
      default: () => {}
    },
    cityFilter: {
      type: String,
      default: () => {}
    },
    typeFilter: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="scss">
.object-card {
  width: 20rem;
  height: 15rem;
  margin: 0.3rem 2rem 0 0;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card-name {
    margin-top: 2%;
    font-size: 1.6rem;
    white-space: nowrap;
    margin-bottom: 8%;
  }

  .detail-button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.dialog-card {
  padding: 2% 0 2% 0;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0% 5% 0 5%;
}
.hidden-card {
  display: none;
}
.dialog-header-description {
  font-size: 1rem;
  margin-left: 5%;
}
.card-title {
  display: flex;
  justify-content: space-between;
}
.detail-card {
  height: 20rem;
}
.infot {
  margin: 3% 5% 0% 5%;
  padding: 0 1% 0 1%;
  font-size: 12px;
  border-radius: 10px;
  background-color: lightgray;
}
.admin-actions {
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 0 5%;
}
.admin-button {
  width: 120px;
}
</style>
