<template>
  <v-app class="app">
    <Navbar />
    <v-content>
      <router-view />
    </v-content>
    <v-snackbar v-model="addedObject" color="success" :timeout="0">
      Pomyślnie dodano obiekt
      <v-btn color="white" text @click="resetAddedObject">Zamknij</v-btn>
    </v-snackbar>
    <v-snackbar v-model="deleteSnackbar" color="error" :timeout="0">
      Pomyślnie usunięto obiekt
      <v-btn color="white" text @click="resetDeleteSnackbar">Zamknij</v-btn>
    </v-snackbar>
    <v-snackbar v-model="editSnackbar" color="warning" :timeout="0">
      Pomyślnie zedytowano obiekt
      <v-btn color="white" text @click="resetEditSnackbar">Zamknij</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Navbar from "./layout/Navbar";

export default {
  name: "App",
  computed: {
    userLogged() {
      return localStorage.getItem("token") ? true : false;
    },
    ...mapGetters(["addedObject", "deleteSnackbar", "editSnackbar"])
  },
  components: {
    Navbar
  },
  methods: {
    ...mapActions([
      "resetAddedObject",
      "resetDeleteSnackbar",
      "resetEditSnackbar"
    ])
  }
};
</script>

<style lang="scss">
.app {
  font-size: 62.5%;
}
</style>
