<template>
  <div>
    <v-app-bar app color="primary" dark class="app-bar" :key="navbarId">
      <div class="d-flex align-center">
        <v-icon
          transition="scale-transition"
          class="menu-icon"
          @click="sidebarFlag = !sidebarFlag"
        >mdi-menu</v-icon>
        <router-link to="/">
          <h1 class="page-title">TouristApp</h1>
        </router-link>
      </div>
      <v-spacer></v-spacer>
      <router-link to="/login">
        <div class="login" v-if="!isUserLoggedIn">
          <h2>Zaloguj</h2>
        </div>
      </router-link>
      <router-link to="/login">
        <div class="login" v-if="isUserLoggedIn">
          <h2>{{ userNameNavbar }}</h2>
        </div>
      </router-link>
      <v-btn target="_blank" text @click="logOut" v-if="isUserLoggedIn">
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="sidebarFlag" absolute class="sidebar">
      <v-list>
        <router-link to="/attractions" class="navtext">
          <v-list-item link class="sidebar-list">
            <v-list-item-icon>
              <v-icon>mdi-fireplace-off</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Atrakcje</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
        <router-link to="/hotels" class="navtext">
          <v-list-item link class="sidebar-list">
            <v-list-item-icon>
              <v-icon>mdi-home-city</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Hotele</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
        <router-link to="/restaurants" class="navtext">
          <v-list-item link class="sidebar-list">
            <v-list-item-icon>
              <v-icon>mdi-silverware-fork-knife</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Restauracje</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
        <router-link to="/favourites" class="navtext">
          <v-list-item link class="sidebar-list">
            <v-list-item-icon>
              <v-icon>mdi-heart</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Moje ulubione</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
        <router-link to="/addplace" class="navtext">
          <v-list-item link class="sidebar-list">
            <v-list-item-icon>
              <v-icon>mdi-map-plus</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Dodaj obiekty</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  computed: {
    userNameNavbar() {
      if (localStorage.getItem("token")) {
        return this.userInfo.userName;
      } else {
        return "";
      }
    },
    ...mapGetters(["navbarId"])
  },
  data() {
    return {
      sidebarFlag: false,
      isUserLoggedIn: false,
      userInfo: {}
    };
  },
  methods: {
    logOut() {
      localStorage.removeItem("token");
      this.isUserLoggedIn = false;
    }
  },
  mounted() {
    if (localStorage.token) {
      this.isUserLoggedIn = true;
      axios
        .get(`${process.env.VUE_APP_URL}/api/Account/FindMe`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`
          }
        })
        .then(response => {
          console.log(response.data);
          this.userInfo = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss">
.login {
  margin-right: 0.1rem;
  color: white;
}
.app-bar {
  position: relative;
  z-index: 999999;

  .page-title {
    color: white;
  }
}
.sidebar {
  position: absolute;
  margin-top: 3.7rem;
  color: white;

  .navtext {
    text-decoration: none;
  }
  .sidebar-list {
    color: white;
    text-decoration: none;
  }
}
.menu-icon {
  padding-right: 7%;
  cursor: pointer;
}
</style>
